body{
    height: 100% !important;
    background-color: transparent !important;
}
html{
    background-color: rgba(3, 169, 243, 0.1) !important;
}
.inner-item {
    display: inline-block;
    padding: 20px;
}

.session-heading-container {
    text-align: center;
}

.session-title {
    position: relative !important;
    padding-left: 40px !important;
}

.session-heading {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    text-transform: uppercase;
    font-weight: 500 !important;
}

.sessions-list li:hover {
    cursor: pointer;
}

.project-counter-number {
    font-size: 1.7em;
    font-weight: 700;
    color: black;
    line-height: 120%;
}

#basic_demo {
    height: 130px;
}

.owl-stage {
    margin: auto;
}

.owl-stage-outer {
    height: 100%;
}

.navbar-header {
    background-color: #EFF6F7!important;
}

.owl-item .item {
    border-radius: 20px;
}

.each-assignment-container {
    height: 100px;
    /* background-color: #EBD545; */
    background-color: #e5e5e5;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba(000, 000, 000, 0.5), inset 1px 2px 0px rgba(255, 255, 255, 0.4);
    /* border: 0.1em solid #EBD545; */
}

.each-assignment-container:hover {
    cursor: pointer;
}

.background-green {
    background-color: #24D124 !important;
}

.background-green:active {
    background-color: #24D124 !important;
}

.assignment-done {
    background-color: #24D124;
    /* background-color: white;
    border: 0.5em solid #24D124; */
}

.assignment-choosen {
    border-bottom: 0;
    background-color: white;
}

.visit-link-button {
    background-color: #B400D6BF !important;
}

.assignment-details-container {
    margin-top: 20px;
    background-color: #FFF !important;
}

.project-or-puzzle {
    text-transform: uppercase;
}

.assignment-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0px 10px;
}

/* .projects-tabs .assignment-title {} */

/* .page-title {
    color: #000000 !important;
    font-family: 'Raleway', sans-serif;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    /* margin: 0 0 24px; */

/*text-align: center;
    text-transform: uppercase;
} */

.page-title {
    font-size: 30px;
    letter-spacing: -1px;
    color: #DFBF84;
    text-transform: uppercase;
    /* text-shadow: 1px 1px 0 #000, margin: 10px 0 24px; */
    text-align: center;
    line-height: 50px;
    letter-spacing: 0.0.5em;
}

.assignment-description-para {
    text-align: justify;
}

.question-image-container {
    height: 400px;
    background-position: center center;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid black */
}

.list * {
    color: #000 !important;
}

.list li:hover {
    color: black !important;
}

.sessions-list a:hover {
    color: black !important;
}

.display-none {
    display: none;
}

.modal-container {
    height: 400px;
    background-position: center center;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid black
}

/* aside {
    padding-right: 7px;
    background-color: #EFF6F7 !important;
    /* background-color: #f5f5f5 !important; */
} */

.question-image-heading {
    font-weight: 600;
}

.navbar {
    background-color: #03a9f3 !important;
}

.no-box-shadow {
    box-shadow: none;
}

.check-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 0.7em !important;
    color: #24D124 !important;
}

.check-icon-2 {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.2em !important;
    color: #24D124 !important;
}

.flashcard-container {
    padding: 10px;
    height: 370px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    transition: transform .2s ease-in-out;
}

.flashcard-container:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.flashcard-image-container {
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: contain;
    height: 150px;
    margin: auto;
    width: 100%;
}

#display_badge_assigned_modal .modal-content{
    border-radius: 30px;
}
.badge-image-container{
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: contain;
    height: 150px;
    margin: auto;
    width: 100%;
}
.flashcard-image {
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px 0px;
}

.flashcard-header {
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    color: black;
}

.badge_display_header{
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    color: black;
}

.flashcard-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.flashcard-text {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 10px;
    text-align: center;
    font-size: 1.2em;
}

.flashcard-modal-text {
    display: block;
    padding: 0px 10px;
    text-align: justify;
    font-size: 1.2em;
    text-align-last: center;
    color: black;
}

.player_audio {
    width: 80%;
    height: 100px;
    /* text-align: center; */
    margin-bottom: 30px;
    border: 1px solid beige;
}

.player_audio:focus {
    border: none;
}

.thumb {
    text-align: center;
}

.o-video {
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 56.25%;
    /* 9 / 16 * 100 */
}

.o-video>iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

.completed-assignment-box {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    color: green;
}

.completed-assignment-box i {
    font-size: 1.6em;
}

.completed-assignment-box span {
    display: flex;
    align-items: baseline;
}

.help-section {
    display: none;
}

.help-section .page-title {
    text-transform: none !important;
}

/* HERE IS THE DEMARKATION */

.hidden {
    display: none;
}

.answer-row {
    padding: 0px 15px;
    /* margin-top: 10px; */
    font-size: 1.2em;
    text-align: justify;
    margin-top: 20px;
}

.question-row {
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4em;
    padding: 10px;
}

.question-container {
    padding: 10px 20px 20px 20px;
    margin-bottom: 25px;
}

.grey-background{
    background-color: #D5D5D5;
}

.white-background{
    background-color: #ffffff;
}

.help-section::before {
    content: none !important;
}
.doubt-header h1{
    color: #000000;
    text-align: center;
}
.doubt_textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #d5d5d5;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, .25);
    margin-top: 20px;
    margin-bottom: 5px;
}
.doubt_textarea:focus{
    border: none !important;
}

.question-container{
    background-color: #ffffff;
}
.options-row{
    border: 1px solid #c5c5c5;
    text-align: center;
}
.survey-icon{
    font-size: 3em;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: green;
}
.survey_feedback{
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
}

.leaderboard-table tr{
    padding: 0px 10px;
    font-size: 1.4em;
}