.test-content {
    margin-top: 90px;
}

.fixed {
    height: 80vh;
    position: fixed;
    top: 130px;
    left: 0px;
}

.options-row {
    display: block;
    width: 100%;
}

.options-row input {
    visibility: hidden;
    position: absolute;
}

.options-row>input+div {
    cursor: pointer;
    border: 2px solid transparent;
    padding: 10px;
    color: black;
    font-size: 1.4em;
}

.options-row>input:checked+div {
    background-color: green;
    color: white;
}

.question-row {
    font-weight: 600;
    font-size: 1.8em;
    padding: 10px;
}

.marks-row {
    font-weight: 600;
    font-size: 1.4em;
    padding: 10px;
}

.question-container {
    padding: 10px;
    background-color: #c5c5c533;
    padding-left: 20px;
    margin-bottom: 25px;
}

.match-data {
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    padding: 5px;
    color: #f5f5f5;
    /* background-color: #e5e5e5; */
}

.match-columns {
    padding: 10px;
    background-color: #03a9f3;
    margin-bottom: 20px;
}

.drop-container {
    height: 150px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background-color: #e5e5e5;
}

.choice-data {
    flex: 1;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.4);
    color: white;
    font-size: 1.4em;
    border: 0.03em solid black;
}

.choice-data:hover {
    cursor: pointer;
}

.match-container {
    margin-bottom: 10px;
}

.choices-row {
    display: flex;
    flex-direction: row;
    height: 70px;
    margin: 3px 3px;
}

.choices-heading {
    margin-top: 10px;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
}

.choices-row {
    border: 0.03em solid black;
}

.question-number-container {
    display: inline-block;
    width: 100%;
    position: relative;
}

.question-number-box {
    height: auto;
    width: 18%;
    float: left;
    background-color: #c5c5c533;
    margin: 1%;
    color: #000;
    margin-bottom: 10px;
    padding: 5%;
    text-align: center;
    border: 1px solid black;
}

.input-textarea {
    width: 99%;
    background-color: #ffffff;
    margin: auto;
    margin-bottom: 20px;
    font-size: 1.3em;
    min-height: 100px;
    border: 1px solid #d5d5d5;
    padding: 10px;
    margin-top: 10px;
}

.text-answer-container {
    text-align: center;
    padding-right: 10px;
}

.input-textarea:focus {
    border: 1px solid #d5d5d5;
}

.question-box-number a {
    text-decoration: none;
}

.greencolor {
    background-color: #008000;
    color: white;
}

.answer-row{
    padding: 0px 15px;
    margin-top: 10px;
    font-size: 1.3em;
    text-align: justify;
}

.assign-marks{
    margin-top: 15px;
}
.assign-marks input{
    background-color: #f5f5f5 !important;
    border-radius: 30px;
}
.button-column{
    display: flex;
    flex-direction: column;
}

.assign-btn{
    margin-top: auto;
    margin-bottom: 12px;
}

.timer{
    font-size: 1.4em;
    font-weight: 600;
}